$navColor: #0A77E9;

header{
	content: center;
}
body{
	margin: 10px;
}

nav{
	border: 1px solid $navColor;
	display: flex;
	background-color: $navColor;
	/*   flex-direction: row; */
	/*   flex-wrap: wrap; */
	/*   flex-wrap: nowrap; */
	/*   flex-wrap: wrap-reverse; */
	/*   justify-content: flex-start; */
	/*   justify-content: flex-end; */
	text-align: center;
	justify-content: center;
	justify-content: space-between;
	justify-content: space-around;
	/*   align-items: stretch; */
	/*   align-items: flex-start; */
	/*   align-items: flex-end; */
	align-items: center;
	/*align-items: baseline; */
}

.item{
	color: white;
	font-family: sans-serif;
	background: $navColor;
	padding: 5px 15px;
	margin: 5px;
	border-radius: 6px;
}
.topImage{
	margin: 0 auto;
	width: 60%;
	padding-bottom: 15px;
}